body{max-width:290px;margin:40px auto;padding:0 10px;font:18px/1.5 -apple-system, Arial}
body{background-color: rgb(231, 192, 120);}

.header{
    color: black;
    text-align: center;
    font-size:50px; 
}

h1, h2, h3 {
    margin: 0px;
}
   
.items{
    font-size:30px
}
